:root {
  --white: #f3f3f3;
  --blue: #6f489e;
  --blue-over: #8d5cc9;
  --complementary-blue: #4A2F6B;
  --blue-background: rgb(139, 152, 187);
  --yellow-background: #b8b776;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-background);
  background-image: url("books-bg.jpg");
  min-height: 100vh;
}

.bookSection {
  display:flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}


input {
width: 100%;
margin: 5px;
display: block;
font-size: 1rem;
padding: 10px 4px;
border: none;
border-radius: 10px;
}

.boton-agregar {
  width: 120px;
  height: 45px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background-color: var(--complementary-blue);
  color: white;
  font-size: 1.5rem;
  position: absolute;
  right: 1%;
}


 
.boton-agregar:hover {
  background: var(--blue-over);
}

header {
  display: flex;
  min-height: 2vh;
  background-color: var(--complementary-blue);
  color: var(--white);
  position: absolute;
  top: 0%;
  font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0.2em;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#new-book {
  border: none;
  outline: none;
  font-size: 1.8rem;
  width: 70px;
  text-align: center;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  color: var(--white);
  background: var(--blue);
  transition: 0.5s ease;
  position: fixed;
  bottom: 5%;
  right: 5%;
  
}

.bookshelf {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  align-items: flex-start;
  flex: 1;
  top: 20%;
}

.book {
  width: 250px;
  height: 300px;
  border-radius: 5px;
  margin: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
  background: var(--yellow-background);
  opacity: .9;
}

.close-modal {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background-color: var(--complementary-blue);
  color: white;
  font-size: 1.5rem;
  position: absolute;
  right: 4%;
  top: 5%;
}

#new-book:hover {
  background: var(--blue-over);
}
 
#container {
    transform: scale(0); 
    transition: 0.3s ease;
    padding: 1.5rem;
    margin-top: 0%;
    box-shadow: 5px 5px 35px 5px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 380px;
    position: relative;
    z-index: 10000; 
    background: var(--yellow-background);
 }

#container h1 {
  color: var(--white);
  text-align: center;
 
  background-color: var(--complementary-blue);
  padding: .6rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: -1rem -1rem 1rem -1rem;
  font-size: 2.2rem;
  font-weight: 200;
}


  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: .5s ease;
  }